joblib==1.6.0
loguru==0.7.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
mkdocs==1.6.1
mkdocs-get-deps==0.2.2
numpy==2.5.3
pandas==3.0.5
python-dotenv==1.2.3
ruff==0.16.10
scikit-learn==1.9.1
scipy==1.18.1
seaborn==0.13.2
tqdm==4.70.1
typer==0.27.3
ucimlrepo==0.0.7
mlflow==3.16.0
-e .
